/* ОБЩИЕ СТИЛИ */
body {
    font-family: Arial, sans-serif;
}
body, header, section, footer, nav, div, 
img, ul, li, p, h1, h2, h3, a, 
table, tr, th, td, 
dl, dt, dd, blockquote, cite {
    margin: 0;
    padding: 0; 
}
.wrapper {
    width: 800px;
    margin: 0 auto;
    /* border: 2px dotted #ff0000; */
}
.wrapper-big {
    width: 1015px;
    margin: 0 auto;
    /* border: 2px dotted #ff0000; */
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.section-title {
    height: 60px;
    font-size: 40px;
    font-weight: 700;
    line-height: 61px;
    text-transform: uppercase;
}

/* БЛОК 1 - "ШАПКА" */
header {
    background-image: url("../img/wheat-back.jpg");
    background-position: bottom;
    background-size: cover;
    min-height: 490px;
    padding-top: 60px;
}
header .line {
    min-height: 76px;
    /* border: 1px solid #fff; */
} 
header .logo {
    float: left;
    width: 140px;
    height: 76px;
}
header nav {
    float: right;
    width: 600px;
    margin-top: 10px;
    border-width: 1px 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2);
}
.menu {
    list-style-type: none;
    /* display: flex; */
    /* justify-content: space-between; */
}
.menu li {
    float: left;
    margin: 19px 0;
    margin-right: 54.46px;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
    word-wrap: break-word;
    max-width: inherit;
}
.menu li:last-child {
    margin-right: 0;
}
.menu a {
    text-decoration: none;
    color: #ffffff;
}
header .slogan {
    margin-top: 120px;
    color: #ffffff;
    font-size: 70px;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
}

/* БЛОК 2 - "НОВИНКИ" */
.newest {
    padding-top: 80px;
    margin-bottom: 110px;
}
.newest .section-title {
    margin-bottom: 75px;
}
.product {
    position: relative;
    border: 1px solid #e5e5e5;
    border-top-width: 0;
    border-bottom-width: 0;
    width: 398px;
}
.product-left {
    float: left;
}
.product-right {
    float: left;
    border-left-width: 0;
}
.product-name {
    margin-left: 34px;
    font-size: 40px;
    font-weight: 700;
    line-height: 61px;
    text-transform: uppercase;
}
.product img {
    margin-top: 29px;
    margin-left: 44px;
}
.product-params {
    position: absolute;
    right: 25px;
    top: 85px;
    width: 150px;
    height: 80px;
    border-collapse: collapse;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}
.product-params td {
    padding: 11px 0px 11px 10px;
    border: 1px solid #e5e5e5;
}
.product-left .product-params td:last-child {
    padding-right: 0.95px;
}
.product-right .product-params td:first-child {
    padding-right: 1.05px;
}
.product-composition {
    position: absolute;
    right: 25px;
    top: 178px;
    width: 150px;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #404040;
}
.product-description {
    padding: 6px 30px 60px 34px;
    font-size: 16px;
    line-height: 30px;
    color: #404040;
}
.buttons {
    font-size: 0;
}
.button {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #834700;
}
.button-product-more {
    padding: 13px 20px;
    color: #834700;
    background-color: #ffffff;
    margin-left: 34px;
}
.button-product-buy {
    padding: 13px 20px 13px 20px;
    color: #ffffff;
    background-color: #834700;
    margin-left: 7px;
}
.product-coast {
    margin-left: 25px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

/* БЛОК 3 - "ПРЕИМУЩЕСТВА" */
.advantages {
    background-color: #ffcb78;
    /* margin-top: 110px; */
    padding-top: 80px;
    padding-bottom: 90px;
}
.advantages ul {
    list-style-type: none;
}
.advantages-item {
    display: block;
    padding-top: 100px;
    float: left;
    width: 210px;
    padding-left: 95px;
    padding-right: 95px;
    border-right: 1px solid #e5b66c;
}
.advantages-item:first-child {
    padding-left: 0;
}
.advantages-item:last-child {
    margin-right: 2px;
    padding-right: 0;
    border-right: 0;
}
.advantages-item::before {
    content: '';
    position: absolute;
    margin-top: -100px;
    margin-left: 0;
    background: url("../img/icons-advantages.png") no-repeat;
}
.icon-brew::before {
    width: 50px;
    height: 68px;
    background-position: 0 0;
}
.icon-matreshka::before {
    width: 46px;
    height: 65px;
    background-position: 0 -68px;
}
.icon-thumbsup::before {
    width: 63px;
    height: 58px;
    background-position: 0 -133px;
}
.advantages-title {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}
.advantages-description {
    margin-top: 20px;
    font-size: 16px;
    line-height: 30px;
    color: #404040;
}

/* БЛОК 4 - "НЕМНОГО ИСТОРИИ" */
.history {
    padding-top: 80px;
    margin-bottom: 80px;
}
.history .section-title {
    margin-bottom: 60px;
}
.history-item {
    display: block;
    position: relative;
    padding-bottom: 60px;
}
.history-item:last-child {
    padding-bottom: 0;
}
.history-item-title {
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}
.history-item-link {
    position: absolute;
    right: 0.74px;
    font-size: 16px;
    line-height: 30px;
}
.history-item-link a {
    color: #834700;
}
.history-item dd {
    margin-top: 20px;
    font-size: 16px;
    line-height: 30px;
    color: #404040;
}
.history-item dd p {
    width: 490px;
    /* border: 1px solid #000; */
}
.history-item dd img {
    float: right;
    margin-top: 10px;
}

/* БЛОК 5 - "ПРЕССА О НАС" */
.press {
    padding-top: 80px;
    padding-bottom: 90px;
    background-color: #ede5d8;
}
.press-blockquote {
    position: relative;
    margin-top: 75px;
    font-size: 16px;
    line-height: 30px;
    color: #404040;
}
.press-blockquote p {
    width: 690px;
}
.press-blockquote p::before {
    content: '';
    position: absolute;
    top: 5px;
    left: -105px;
    width: 41px;
    height: 31px;
    background-image: url("../img/quotes.png");
}
.button-press-more {
    float: left;
    margin-top: 35px;
    padding: 13px 20px;
    color: #bcb6ab;
    border-color: #a5a097;
}
.press-cite {
    float: right;
    margin-top: 45px;
    padding-right: 1.36px;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}